*{
    margin: 0;
    padding: 0;
}

.hero-section, .view-cars-section, .view-rented-section
{
    min-height: 100vh;
}

.register-form-section, .login-form-section, .register-car-form-section, .edit-cars-section
{
    min-height: 90vh;
    overflow: hidden;
}

.register-form, .login-form, .register-car-form
{
    padding: 5% 30%;
}

.welcome-user-text
{
    font-size: 1.5em;
}

.not-found-section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-img
{
    background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-1920x1080-8324.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.hero-img-content
{
    position: relative;
    color: white;
    font-weight: bold;
    padding-top: 15%;
}

.display-head
{
    font-size: 4em;
}

.display-subhead
{
    font-size: 1.5em;
}

.display-none
{
    display: none !important;
    transition: all 0.3s ease;
}

.display-block
{
    display: block !important;
}

.card-number-form-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-number-form
{
    width: 50vw;
    padding: 5%;
}

.build-toast
{
    margin: 5% 1%;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #e4e4e4;
    transition: all 0.3s ease;
}